<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741172012252-95rsgbvf5cqsk7074cfgurmah599bfam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741172012252-95rsgbvf5cqsk7074cfgurmah599bfam</string>
	<key>API_KEY</key>
	<string>AIzaSyCw28ffL4AtkQJE8RqVR5UUkr4_McIfrqU</string>
	<key>GCM_SENDER_ID</key>
	<string>741172012252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.maryfit.MaryFIT</string>
	<key>PROJECT_ID</key>
	<string>maryfit-5fe09</string>
	<key>STORAGE_BUCKET</key>
	<string>maryfit-5fe09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741172012252:ios:dcb279b1fbf72ca4728019</string>
	<key>DATABASE_URL</key>
	<string>https://maryfit-5fe09.firebaseio.com</string>
</dict>
</plist>